<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Staging enviroments KTN-->
    <add key="KTNSTKMVTHolding" value="C:\Bespoke\EDI\OutputFiles" />
    <add key="KTNSTKMVTProcessed" value="C:\Bespoke\EDI\OutputFiles" />
    <add key="KTNSTKMVTQuarantined" value="C:\Bespoke\EDI\OutputFiles" />
    <add key="KTNPPLCONHolding" value="C:\Bespoke\EDI\OutputFiles" />
    <add key="KTNPPLCONProcessed" value="C:\Bespoke\EDI\OutputFiles" />
    <add key="KTNPPLCONQuarantined" value="C:\Bespoke\EDI\OutputFiles" />
    <add key="KTNRECCONHolding" value="C:\Bespoke\EDI\OutputFiles" />
    <add key="KTNRECCONProcessed" value="C:\Bespoke\EDI\OutputFiles" />
    <add key="KTNRECCONQuarantined" value="C:\Bespoke\EDI\OutputFiles" />
    <add key="KTNOrders" value="C:\Bespoke\EDI\OutputFiles" />
    <add key="KTNASN" value="C:\Bespoke\EDI\OutputFiles" />
    <add key="KTNItems" value="C:\Bespoke\EDI\OutputFiles" />
	<add key="GDPROrder" value="C:\Bespoke\EDI\OutputFiles" />
    <!--End of staging enviroment-->
	  

	  
    <!--Live enviroment-->
    <!--<add key="KTNSTKMVTHolding" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\STKMVT\Received" />
	<add key="KTNSTKMVTProcessed" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\STKMVT\Processed" />
	<add key="KTNSTKMVTQuarantined" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\STKMVT\Quarantined" />

	<add key="KTNPPLCONHolding" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\PPLCON\Received" />
	<add key="KTNPPLCONProcessed" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\PPLCON\Processed" />
	<add key="KTNPPLCONQuarantined" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\PPLCON\Quarantined" />

	<add key="KTNRECCONHolding" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\RECCON\Received" />
	<add key="KTNRECCONProcessed" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\RECCON\Processed" />
	<add key="KTNRECCONQuarantined" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\RECCON\Quarantined" />

	<add key="KTNOrders" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Outbound\Orders\ToSend" />
	<add key="KTNASN" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Outbound\ASN\ToSend" />
	<add key="KTNItems" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Outbound\Items\ToSend" />
	<add key="GDPROrder" value="\\10.65.110.21\Orbis_send" />
	<add key="Generating" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Outbound\Orders\Hold" />-->
    <!--end of Live enviroment-->

	  
	  
	  <!--Staging Evniroments GB-->
	  <!--<add key="GBHolding" value="C:\Bespoke\EDI\OutputFiles" />-->
	  <!--<add key="GBProcessed" value="C:\Bespoke\EDI\OutputFiles\Processed" />-->
	  <!--<add key="GBQuarantined" value="C:\Bespoke\EDI\OutputFiles\Quarantined" />-->
	  <add key="GBOrders" value="C:\Bespoke\EDI\OutputFiles" />
	  <add key="GBASN" value="C:\Bespoke\EDI\OutputFiles" />
	  <add key="GBItems" value="C:\Bespoke\EDI\OutputFiles" />
	  <add key="GeneratingGB" value="C:\Bespoke\EDI\OutputFiles" />
	  <add key="GDPROrderGB" value="C:\Bespoke\EDI\OutputFiles" />
	  <!--End of Staging for GB-->
	  
	<!--Live Evniroments GB-->
	<add key="GBHolding" value="\\TH-ORBIS01\Orbis\EDI\GB\Prod\Inbound\Received" />
	<add key="GBProcessed" value="\\th-orbis01\Orbis\EDI\GB\Prod\Inbound\Processed" />
	<add key="GBQuarantined" value="\\th-orbis01\Orbis\EDI\GB\Prod\Inbound\Quarantined" />
	<add key="GB997" value="\\TH-ORBIS01\Orbis\EDI\GB\Prod\Inbound\Processed\997s" />
	<!--<add key="GBOrders" value="\\th-orbis01\Orbis\EDI\GB\Stage\Outbound\Orders\ToSend" />
	<add key="GBASN" value="\\th-orbis01\Orbis\EDI\GB\Stage\Outbound\ASN\ToSend" />-->
	<!--<add key="GBItems" value="\\th-orbis01\Orbis\EDI\GB\Prod\Outbound\Items\ToSend" />-->
	<!--<add key="GeneratingGB" value="\\th-orbis01\Orbis\EDI\GB\Stage\Outbound\Orders\Holding" />
	<add key="GDPROrderGB" value="\\10.65.110.21\Orbis_send" />-->
	<!--End of Live for GB-->
	  
    <!--Email Addresses-->
    <add key="MailPort" value="25" />
    <add key="FromAddress" value="no-reply@helenoftroy.com" />
    <add key="AlertEmail" value="mheidemann@helenoftroy.com" />
    <add key="AlertEmail2" value="pmills@helenoftroy.com" />
    <add key="AlertEmail3" value="bramsden@helenoftroy.com" />
    <!--End Of Emails-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- Dev DB Connections-->
    <!--<add name="OERA" connectionString="Data Source=TH-DEVSQL01; Initial Catalog=OERADEV; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="Orbis" connectionString="Data Source=TH-DEVSQL01; Initial Catalog=Orbis_Interface; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="Tracker" connectionString="Data Source=TH-DEVSQL01; Initial Catalog=DSV_Tracker; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!-- Live DB connections -->
    <!--<add name="Orbis" connectionString="Data Source=TH-SQLE1901; Initial Catalog=Orbis_Interface; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
	<add name="OERA" connectionString="Data Source=TH-SQLE1901; Initial Catalog=OERA; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	<!--<add name="Tracker" connectionString="Data Source=TH-SQLE1901; Initial Catalog=DSV_Tracker; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!-- DTC DB Connections-->
    <add name="DTC" connectionString="Data Source=10.65.110.20; Initial Catalog=DTC_Data; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>