<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="OERADEV" connectionString="Data Source=TH-DEVSQL01; Initial Catalog=OERADEV; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="Orbis_Interface" connectionString="Data Source=TH-DEVSQL01; Initial Catalog=Orbis_Interface; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="OERA" connectionString="Data Source=TH-SQLE1901; Initial Catalog=OERADEV; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>