<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<!--Staging enviroments-->
		<add key="KTNSTKMVTHolding" value="\\TH-Orbis01\Orbis\EDI\KTN\Stage\Inbound\STKMVT\Received" />
		<add key="KTNSTKMVTProcessed" value="\\TH-Orbis01\Orbis\EDI\KTN\Stage\Inbound\STKMVT\Processed" />
		<add key="KTNSTKMVTQuarantined" value="\\TH-Orbis01\Orbis\EDI\KTN\Stage\Inbound\STKMVT\Quarantined" />

		<add key="KTNPPLCONHolding" value="\\TH-Orbis01\Orbis\EDI\KTN\Stage\Inbound\PPLCON\Received" />
		<add key="KTNPPLCONProcessed" value="\\TH-Orbis01\Orbis\EDI\KTN\Stage\Inbound\PPLCON\Processed" />
		<add key="KTNPPLCONQuarantined" value="\\TH-Orbis01\Orbis\EDI\KTN\Stage\Inbound\PPLCON\Quarantined" />

		<add key="KTNRECCONHolding" value="\\TH-Orbis01\Orbis\EDI\KTN\Stage\Inbound\RECCON\Received" />
		<add key="KTNRECCONProcessed" value="\\TH-Orbis01\Orbis\EDI\KTN\Stage\Inbound\RECCON\Processed" />
		<add key="KTNRECCONQuarantined" value="\\TH-Orbis01\Orbis\EDI\KTN\Stage\Inbound\RECCON\Quarantined" />

		<add key="SKTNOrders" value="\\TH-Orbis01\Orbis\EDI\KTN\Stage\Outbound\Orders\ToSend" />
		<add key="SKTNASN" value="\\TH-Orbis01\Orbis\EDI\KTN\Stage\Outbound\ASN\ToSend" />
		<add key="SKTNItems" value="\\TH-Orbis01\Orbis\EDI\KTN\Stage\Outbound\Items\ToSend" />
		<!--End of staging enviroment-->
		
		<!--Live enviroment-->
		<add key="PKTNSTKMVTHolding" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\STKMVT\Received" />
		<add key="PKTNSTKMVTProcessed" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\STKMVT\Processed" />
		<add key="PKTNSTKMVTQuarantined" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\STKMVT\Quarantined" />

		<add key="PKTNPPLCONHolding" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\PPLCON\Received" />
		<add key="PKTNPPLCONProcessed" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\PPLCON\Processed" />
		<add key="PKTNPPLCONQuarantined" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\PPLCON\Quarantined" />

		<add key="PKTNRECCONHolding" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\RECCON\Received" />
		<add key="PKTNRECCONProcessed" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\RECCON\Processed" />
		<add key="PKTNRECCONQuarantined" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Inbound\RECCON\Quarantined" />

		<add key="PKTNOrders" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Outbound\Orders\ToSend" />
		<add key="PKTNASN" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Outbound\ASN\ToSend" />
		<add key="PKTNItems" value="\\TH-Orbis01\Orbis\EDI\KTN\Prod\Outbound\Items\ToSend" />
		<!--end of Live enviroment-->

		<add key="Test" value="C:\Bespoke\EDI\OutputFiles" />
		
		
		<add key="GDPROrder" value="\\10.65.110.21\Orbis_send" />
		<add key="" value="*****" />
		
		<!--Email Addresses-->
		<add key="MailPort" value="25"/>
		<add key="FromAddress" value="no-reply@helenoftroy.com"/>
		<add key="AlertEmail" value="mheidemann@helenoftroy.com"/>
		<add key="AlertEmail2" value="pmills@helenoftroy.com"/>
		<add key="AlertEmail3" value="bramsden@helenoftroy.com"/>
		<!--End Of Emails-->
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- Dev DB Connections-->
		<add name="OERADEV" connectionString="Data Source=TH-DEVSQL01; Initial Catalog=OERADEV; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="Orbis_Interface" connectionString="Data Source=TH-DEVSQL01; Initial Catalog=Orbis_Interface; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="Tracker" connectionString="Data Source=TH-DEVSQL01; Initial Catalog=DSV_Tracker; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		
		<!-- Live DB connections -->
		<add name="LiveOrbis" connectionString="Data Source=TH-SQLE1901; Initial Catalog=Orbis_Interface; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="OERA" connectionString="Data Source=TH-SQLE1901; Initial Catalog=OERA; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="LiveTracker" connectionString="Data Source=TH-SQLE1901; Initial Catalog=DSV_Tracker; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

		<!-- DTC DB Connections-->
		<add name="DTC" connectionString="Data Source=192.168.1.28; Initial Catalog=DTC_Data; Integrated Security=true; Connection Timeout = 180; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>